<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Angular js search1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script>
      var app;
        app = angular.module('MyApp',[]);
        app.controller("MyFriends",function($scope,$http){
             $http.get("friends.json").then(function(res){
                $scope.friends = res.data; });
        });
    </script>
    <style>
        *{padding:0; margin:0 auto; text-align: center}
        body{max-width:1020px;}
    </style>
</head>
<body ng-App="MyApp" ng-controller= 'MyFriends' class="container">
   <div class="jumbotron">
   <h1>Angular Js Json Data Search</h1>
   <p><a href="/join"class="btn btn-warning "><span class="glyphicon glyphicon-lock">&nbsp;</span>로그인</a>
   <a href="/join"class="btn btn-warning"><span class="glyphicon glyphicon-user">&nbsp;</span>회원가입</a></p>
    </div>
    <form>
       <div class="form-group">
           <h2>Search Name!!</h2><input name="search" type="text" ng-model="sname" class="form-control">
       </div>
    </form>
    <h3>{{sname}}</h3>
    <table class="table table-bordered">
        <thead class="thead-inverse" style="background:#FCC43F; color:#fff">
        <tr>
            <th>Name</th>
            <th>Birth</th>
            <th>Phone</th>
            <th>EMail</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="friend in friends" ng-if="friend.Name.match(sname)">
            <td>{{friend.Name}}</td>
            <td>{{friend.birth}}</td>
            <td>{{friend.phone}}</td>
            <td>{{friend.email}}</td>
        </tr>
        </tbody>
    </table>
<script>
      var app;
        app = angular.module('MyApp',[]);
        app.controller("MyFriends",function($scope,$http){
             $http.get("friends.json").then(function(res){
                $scope.friends = res.data; });
        });
    </script>
</body>
</html>



<!--
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Angular js search2</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    
    <script>
      var app;
        app = angular.module('MyApp',[]);
        app.controller("MyFriends",function($scope,$http){
             $http.get("friends.json").then(function(res){
                $scope.friends = res.data; });
        });
    </script>
    
</head>
<body ng-App="MyApp" ng-controller= 'MyFriends'>
    <p>name:<input type="text" ng-model="sname"></p>
    <p>{{sname}}</p>
    <ul>
        <li ng-repeat="friend in friends" ng-if="friend.Name.match(sname)">
           {{friend.Name}}
           {{friend.birth}}
           {{friend.phone}}
           {{friend.email}}
        </li>
    </ul>
<script>
      var app;
        app = angular.module('MyApp',[]);
        app.controller("MyFriends",function($scope,$http){
             $http.get("friends.json").then(function(res){
                $scope.friends = res.data; });
        });
    </script>
</body>
</html>-->
